Repository oven-sh/bun-types, pull requests merged in 2022-07, with the labels that each got.

#3 fix: invalid path for the bundle.ts
  README.md
Labels: chore

#5 tests: add some tests
  .github/workflows/tests.yml
  bun.lockb
  package.json
  sqlite.d.ts
  tests/index.d.ts
  tests/index.test-d.ts
Labels: types:sqlite

#8 fix(fs): add missing promises types
  fs.d.ts
  fs/promises.d.ts
  index.d.ts
  package.json
  scripts/bundle.ts
  scripts/utils/getDotTsFiles.ts
  tests/index.d.ts
  tests/index.test-d.ts
  tsconfig.json
Labels: types:index, types:fs

#9 fix(bun): add hex to BufferEncoding
  bun.d.ts
Labels: types:bun

#11 feat: add gzipSync, gunzipSync, inflateSync and deflateSync to Bun.* types
  .eslintignore
  .eslintrc.cjs
  .prettierignore
  README.md
  bun.d.ts
  fs.d.ts
  fs/promises.d.ts
  package.json
  tests/index.test-d.ts
Labels: types:bun, types:fs, types:fs/promises
